${(htmlOnly != true ? `<h2 style="font-weight: 200;font-size:45px;line-height: 48px;">Report to UAA</h2>`:``)}
<span>
    ${rw.debugMenu == null ? `Please note: This form currently supports <b>username reports</b> only. Please be well
    aware of the username policy before reporting.`:
    `<span style="color:red">You are in developer mode, so UAA reports will be sent to User:Chlod/playground. Enable
        production behaviour through the debug menu.</span>`}
</span>
<form id="UAAreportForm">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
        <input class="mdl-textfield__input" type="text" id="trgtUsrVisualBox"
            value="`+ rw.info.targetUsername(un).replace(/_/g, ' ') +`" name="target" readonly>
        <label class="mdl-textfield__label" for="trgtUsrVisualBox">Target</label>
        <div class="mdl-tooltip" for="trgtUsrVisualBox">
            To target a different user, please visit their userpage.
        </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="width: 100%;">
        <input type="text" value="" class="mdl-textfield__input" id="reasonInput" name="reason" readonly>
        <!-- USE REASON TO GET THE DATA, NOT REASON INPUT.-->
        <input type="hidden" value="" name="reasonInput"> <!-- THIS WILL ALWAYS BE BLANK.-->
        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        <label for="reasonInput" class="mdl-textfield__label">Reason</label>
        <ul for="reasonInput" class="mdl-menu mdl-menu--bottom-left mdl-js-menu" style="height: 100px; overflow:auto;">
            <li class="mdl-menu__item" data-val="">Misleading username</li>
            <li class="mdl-menu__item" data-val="">Promotional username</li>
            <li class="mdl-menu__item" data-val="">Username that implies shared use</li>
            <li class="mdl-menu__item" data-val="">Offensive username</li>
            <li class="mdl-menu__item" data-val="">Disruptive username</li>
            <li class="mdl-menu__item" data-val="">Other (please enter in comment)</li> <!-- Must detect and RM this -->
        </ul>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
        <input class="mdl-textfield__input" type="text" id="commentBox" name="comment">
        <label class="mdl-textfield__label" for="commentBox">Comment</label>
        <div class="mdl-tooltip" for="commentBox">
            Enter additional info you'd like to attach to this report.
        </div>
    </div>

</form>

<span style="float:right;">
    ${(htmlOnly != true ? `<button class="mdl-button mdl-js-button mdl-js-ripple-effect"
        onclick="window.parent.postMessage('closeDialog', '*');">
        CANCEL
    </button>`:``)}
    <button id="UAAsubmitBtn"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        onclick="sendUAAReport();">
        REPORT
    </button>
</span>

<script>
    function pushToast(text) { window.parent.postMessage('pushToast\\\`' + text); } // Push toast to host

    function sendUAAReport() {
        // Submit report
        var data = $('#UAAreportForm').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {}); // form data

        if (data.reason == "") { pushToast("Select a reason."); return; } // If no reason selected, push toast and EXIT.

        let fullReason = "";
        if (data.reason == "Other (please enter in comment)") { // If other is chosen
            if (data.comment == "") { pushToast("Enter your reason."); return; }
            if (data.comment.length < 5) { pushToast("Your reason is not long enough"); return; } // If no comment, or comment is not long enough (5+ chars) push toast and EXIT.
            fullReason = data.comment; // else continue and set the reason to the comment
        } else {
            // Append the reason and comment if there is one
            fullReason = "Violation of the username policy as a " + data.reason.toLowerCase() + (data.comment == "" ? "" : ". " + data.comment); // If data comment empty don't add anything otherwise make it Reason - Comment
        }
        fullReason += " ${rw.sign()}"; // Add sig to the end (w space)
        // Push this upstairs
        window.parent.postMessage('UAA\\\`' + fullReason + '\\\`' + data.target, '*'); // Report with full reason
        window.parent.postMessage('closeDialog', '*'); // Close. We will be reopened on error.
    }


    window.onmessage = e => { // On any message we just set the text, not much logic here
        console.log(e);
        if (e.data == "AIVReportExist") {
            $("#AIVreportForm").html("<h5>It looks like this user has already been reported to AIV.</h5>");
            $("#AIVsubmitBtn").hide(); // hide submit button
        } else if (e.data == "UAAReportExist") {
            $("#UAAreportForm").html("<h5>It looks like this user has already been reported to UAA.</h5>");
            $("#UAAsubmitBtn").hide(); // hide submit button
        }

        // OTHER EXTENDED OPTIONS HANLDERS HERE
    };
</script>